@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    width: 100%;
    background-color:#fff;
}

body h1{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #6e0e10;
}

body hr{
    width: 75%;
    margin: auto;
    border: 0.5px solid #d71111;
    margin-bottom: 3rem;
}

.content{
    width: 80%;
    margin: auto;
}


.conteudoPrincipal {
  margin-top: 30px;
  margin-bottom: 20px;
  min-height: 80vh;
}

.subtitulo {
  font-size: 32px;
  margin-bottom: 25px;
  text-align: center;
}

.conteudoPrincipal-dados-titulo {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.conteudoPrincipal-dados-titulo:after {
  bottom: -10px;
  content: "";
  display: block;
  height: 3px;
  position: relative;
  width: 70px;
}