:root{
    --background: #1E1C21;
    --pink: #FC1E8B;
    --purple: #7278C3;
    --blue: #264E73;
}

*{
    margin: 0;
    padding: 0;
}

/*  HEADER */
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header a{
    color: #FFF;
    text-decoration: none;
}


ul{
    list-style-type: none;
}



/* CABECALHO */

.cabecalho-principal {
    background-color:#FF0000;
    padding: 20px 0;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(128, 128, 128, 0.21);
    -moz-box-shadow: 0px 2px 2px 0px rgba(128, 128, 128, 0.21);
    box-shadow: 0px 2px 2px 0px rgba(128, 128, 128, 0.21);
}

a{
    text-decoration: none;
}

.cabecalhoPrincipal-nav{
    width: 100%;
    height: 85;
    background-color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: space-around;
 
}

.content{
    /* Flex Container */
      
    width: 50%;
    height: 100%;
    margin: auto;
     
}
  

/* Linha */
hr{
    border-color:#6E0E10;
    box-sizing:border-box;
    width:100%; 
 
}

/* formulario editar Sala */
.content-editar{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-sala{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



/* botao editar e CADASTRAR */
.btn-editar{
    width: 160px;
    height: 50px;
    margin-top: 40px;
    background: #264E73;
    border: none;
    color: #fff;
    font-size: 28px;
}

.button{
    /* DIV BUTTON */
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.button p {
    /* <P> - Do botao de Editar E CADASTRAR*/
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

/* Arrumando espaçamento da section de Editar Salas */
